<!-- 定义一个 launch 文件，用于启动 ROS 节点和配置参数 -->
<launch>
    <!-- 定义一个名为 stage 的参数，默认值为 3，后续可通过命令行传入不同的值进行覆盖 -->
    <arg name="stage" default="3"/>
    <!-- 定义一个名为 stage_number 的参数，其值引用上面定义的 stage 参数 -->
    <param name="stage_number"  value="$(arg stage)"/>
    <!-- 启动 limoRL 包中的 limo_td3.py 脚本，节点名称为 limo_td3，将节点的输出信息显示在屏幕上 -->
    <node pkg="limoRL" name="limo_td3" type="limo_td3.py" output="screen"/>
    <!-- 启动 limoRL 包中的 unit_1.py 脚本，节点名称为 unit_1，将节点的输出信息显示在屏幕上 -->
    <!-- <node pkg="limoRL" name="unit_1" type="unit_1.py" output="screen"/> -->
</launch>

